
@{
    ViewBag.Title = "Alisveris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">

        <h1>Tek Tıkla Güvenli Alışveriş</h1>
        


        <div class="clear"></div>

        <ul class="stepLsit">
            <li><strong>Teslimat bilgilerini, ödeme bilgilerini gir, siparişini onayla.</strong></li>
            <li>
                <strong>
                    Telefonuna gönderdiğimiz SMS aktivasyon şifresini gir, bundan sonraki alışverişlerinde
                    tek tıkla güvenli alışveriş yap.
                </strong>
            </li>
            <li>
                <p>
                    Hızlı ödeme profili oluşturarak tek tıkla alışveriş yapabilirsiniz. Ödeme profili oluştururken girmeniz gereken aktivasyon kodu,
                    cep telefonunuza gönderilir. Dolayısıyla kişisel bilgilerinize farklı siteler üzerinden ulaşılsa dahi, cep telefonunuzla yapacağınız
                    doğrulama sayesinde güvende olursunuz.
                </p>
            </li>
            <li>
                <h2>Güvenli Alışveriş</h2>
                <p>
                    Müşterilerimizin tüm kritik verileri, güçlü altyapımızın ve uluslararası ödeme sistemleri (PCI-DSS) veri güvenliği standartlarının koruması
                    altındadır. Düzenli olarak bu standartlara uyumluluğumuz, bağımsız kurumlar tarafından da denetlenmektedir.
            </li>
        </ul>

    </div>

